<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="home-container">
        <div class="home-box">
            <h2>Welcome to your very own Grievance Portal, Gunnu punnu</h2>
            <p>You can submit your grievances right here (I love you) </p>

            <p>Log in to your account:</p>
            <a href="{{ url_for('login') }}">
                <button>Login</button>
            </a>
        </div>
    </div>
</body>
</html>
